In [52]:
# Exercises: Level 1
# Declare an empty list
lst =[]

# Declare a list with more than 5 items
lst = [3,5,6,7,8]
print('new list with 5 item' , lst)

# Find the length of your list
len_lst = len(lst)
print(len_lst)

# Get the first item, the middle item and the last item of the list
first,*middle,last = lst
print('first ', first)
print('middle ', middle)
print('last ', last)

# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types =["venkates" , 32, 45 , 'not applicable', "my address"]
print('mixed data type', mixed_data_types)

# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle','Amazon']

# Print the list using print()
[print('it companies are' , companies) for companies in it_companies]

# Print the number of companies in the list
print('no of companies in the list' , len(it_companies))

# Print the first, middle and last company
first_comp,*middle_comp,last_comp = it_companies
print(first_comp , middle_comp , last_comp)

# Print the list after modifying one of the companies
it_companies[1] = 'Infy'
print(it_companies)

# Add an IT company to it_companies
it_companies.append('Tcs')

# Insert an IT company in the middle of the companies list
it_companies.insert(3,'HCL')

# Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[0] = it_companies[0].upper()
print(it_companies)

# Join the it_companies with a string '#;  '
new_it_companies =[comp+'#' for comp in it_companies]
print(new_it_companies)

# Check if a certain company exists in the it_companies list.
print('HCL' in it_companies)

# Sort the list using sort() method
it_companies.sort()
print(it_companies)

# Reverse the list in descending order using reverse() method
print(it_companies[::-1])
print(it_companies.reverse())

# Slice out the first 3 companies from the list
print('first 3' ,it_companies[:3])

# Slice out the last 3 companies from the list
print('last 3' ,it_companies[-3:])

# Slice out the middle IT company or companies from the list
print('middle companies' , middle_comp)

# Remove the first IT company from the list
it_companies.pop()
print(it_companies)

# Remove the middle IT company or companies from the list

# Remove the last IT company from the list

# Remove all IT companies from the list
it_companies.clear()
# Destroy the IT companies list
del it_companies
# Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

new_end = front_end + back_end
print('joined stack',  new_end)

new list with 5 item [3, 5, 6, 7, 8]
5
first  3
middle  [5, 6, 7]
last  8
mixed data type ['venkates', 32, 45, 'not applicable', 'my address']
it companies are Facebook
it companies are Google
it companies are Microsoft
it companies are Apple
it companies are IBM
it companies are Oracle
it companies are Amazon
no of companies in the list 7
Facebook ['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle'] Amazon
['Facebook', 'Infy', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['FACEBOOK', 'Infy', 'Microsoft', 'HCL', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Tcs']
['FACEBOOK#', 'Infy#', 'Microsoft#', 'HCL#', 'Apple#', 'IBM#', 'Oracle#', 'Amazon#', 'Tcs#']
True
['Amazon', 'Apple', 'FACEBOOK', 'HCL', 'IBM', 'Infy', 'Microsoft', 'Oracle', 'Tcs']
['Tcs', 'Oracle', 'Microsoft', 'Infy', 'IBM', 'HCL', 'FACEBOOK', 'Apple', 'Amazon']
None
first 3 ['Tcs', 'Oracle', 'Microsoft']
last 3 ['FACEBOOK', 'Apple', 'Amazon']
middle companies ['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
['Tcs', 'Oracle', 'Microsoft', 'Infy', 'IBM', 'HCL', 'FACEBOOK', 'Apple']
joined stack ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [66]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
# Sort the list and find the min and max age
print('minimum age' , ages[0])
print('maximum age' , ages[-1])
# Add the min age and the max age again to the list
new_ages = [ages[0],ages[-1]]
print(new_ages)
# Find the median age (one middle item or two middle items divided by two)
total_ages =len(ages)
print('median age' , ages[int(total_ages/2)])
# Find the average age (sum of all items divided by their number )
avg_ages = sum(ages)/total_ages
print('average age',avg_ages )
# Find the range of the ages (max minus min)
print('range of ages' , ages[1] - ages[0])
# Compare the value of (min - average) and (max - average), use abs() method

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age 19
maximum age 26
[19, 26]
median age 24
average age 22.8
range of ages 0